<div id="myDeleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Delele User
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the user?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok" ng-click="delete(userTodelete)" ng-model="userTodelete">Delete</a>
            </div>
        </div>
    </div>
</div>