<div class="container survey-view-page" ng-controller="viewSurveyController">
    <div class="row">
        <section class="col-sm-12">
            <form name="questionsForm" ng-submit="submitAnswers()">
                <div class="text-right" ng-hide="disabledButton">
                    <input type="submit" class="btn btn-success" value="Submit"/>
                </div>
                <div class="survey-view-header">
                    <figure><img src="{{surveyDetail.logo_path}}"></figure>
                    <div ta-bind ng-model="surveyDetail.name"></div>
                </div>
                <article ta-bind ng-model="surveyDetail.description"></article>
                <article ta-bind ng-model="surveyDetail.message"></article>
                <div ng-repeat="(key,value) in resultdata">
                    <div class="row padding">
                        <div ta-bind ng-model="value.name"></div>
                    </div>
                    <div class="row padding" ta-bind ng-model="value.description">
                    </div>
                    <div ng-repeat="(key,value) in value.question" class="well well-sm">
                        <div>
                            <div ta-bind ng-model="value.question_title"></div>
                        </div>
                        <div ta-bind ng-model="value.description">
                        </div>
                        <div ng-repeat="option in value.option">
                              <span>
                                 <input type="radio" name="option_question_{{value.id}}" ng-model="value.selected_id" ng-value="option.option"/>
                                  {{option.option}}
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div ng-include="'src/core/notification/popups.html'"></div>
</div>