<div class="container" ng-controller="viewSurveyController">
    <section class="col-sm-12">
        <section class="page-body">
            <form name="questionsForm" ng-submit="submitAnswers()">
                <div class="row padding">
                    <!--<button class="btn btn-success text-right pull-right" ng-submit="submitAnswers()">Submit</button>-->
                    <input type="submit" class="btn btn-success text-right pull-right" value="Submit" />
                    <figure><img src="{{resultdata.logo_path}}"></figure>
                    <div ta-bind ng-model="resultdata.name"></div>
                    <div ta-bind ng-model="resultdata.description"></div>
                </div>
                <div ng-repeat="(key,value) in category">
                    <div class="row padding">
                        <div ta-bind ng-model="value.name"></div>
                    </div>
                    <div class="row padding">
                        {{value.description}}
                    </div>
                    <div ng-repeat="(key,value) in value.question " class="well well-sm">
                        <div>
                            <div ta-bind ng-model="value.question_title"></div>
                        </div>
                        <div>
                            {{value.description}}
                        </div>
                        <md-radio-group>
                            <md-radio-button name="option_question_{{value.id}}" ng-repeat="option in value.option" ng-model="value.selected_id" ng-value="option.id" required>
                                {{ option.option }}
                            </md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
            </form>
        </section>
    </section>
</div>