<nav class="navbar navbar-default navbar-fixed-top" ng-controller="loginController">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">ALIENS</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Hello {{loggedInPersonName}} <span class="caret"></span></a>
                <ul class="dropdown-menu cursor-pointer">
                    <li><a ng-click="logout()">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>