<div class="container-fluid" ng-controller="surveyOverviewCtrl">
    <div class="row">
        <div ng-include="'src/modules/survey/templates/sidebar.html'"></div>
        <section class="col-md-9">
            <section class="page-header">
                <h1>Name of the Survey</h1>
                <a href=""><i class="fa fa-angle-left"></i> Back</a>
            </section>
            <section class="page-body">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="">Participant List</a></li>
                    <li role="presentation"><a href="">Add Participant</a></li>
                </ul>
            </section>
        </section>
    </div>
</div>

