.navbar {
    border-radius: 0;
}
.sidebar-wrap {
    border-right: 1px solid #e7e7e7;
    left: 0;
    position: fixed;
    width: 200px;
    top: 52px;
    bottom: 0;
}
.sidebar-wrap ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebar-wrap ul li {
    border-bottom: 1px solid #e7e7e7;
}
.sidebar-wrap ul li a {
    padding:15px;
    color: #333;
    font-size: 18px;
    background: #f9f9f9;
    display:block;
}
.sidebar-wrap ul li a:hover {
    background: #efefef;
    color: #337ab7;
    text-decoration:none;
}
.sidebar-wrap ul li.active a {
    background: #337ab7;
    color: #efefef;
}
.page-content-wrap {
    width: calc(100% - 200px);
    margin-left: 200px;
    margin-top: 70px;
}
.page-header {
    padding-bottom: 10px;
    margin: 10px 0 30px;
    border-bottom: 1px solid #e7e7e7;
}
.cursor-pointer{
    cursor: pointer;
}

.survey-view-page {
    border: 1px solid #e7e7e7;
    padding: 15px;
    margin: 30px auto;
}

.add-category-header, .survey-view-header {
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    padding: 5px;
    margin-bottom: 30px;
    min-height:62px;
}
.add-category-header > figure, .survey-view-header > figure {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #efefef;
    top: calc(50% - 25px);
}
.add-category-header > figure img, .survey-view-header > figure img {
    width:100%;
}
.add-category-header h2, .survey-view-header > div {
    padding-left: 70px;
    margin: 9px 0;
}
.add-category-header .button-group{
    position:absolute;
    right:0;
    top:13px;
}

/**.add-category-body{
    min-height: 200px;
    max-height: 460px;
    overflow: auto;
}*/
.category-block {
    border: 1px solid #c0c0c0;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #e0e0e0;
}
.question-block {
    background: #f0f0f0;
    padding: 0px;
    margin-bottom: 15px;
    border: 1px solid #c0c0c0;
}
.question-block .panel-collapse {
    padding: 15px;
}
.question-block .panel-heading .panel-title {
    padding: 10px 0;
    position: relative;
}
.question-block .panel-heading .panel-title .panel-title-link {
    padding-left:25px;
    padding-right:40px;
    display: block;
    cursor: pointer;
}
.question-block .panel-heading .panel-title .panel-title-link:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    content: "\f106";
    left: 0;
    top: calc(50% - 8px);
}
.question-block .panel-heading .panel-title .panel-title-link.collapsed:before {
    content: "\f107";
}
.question-block .panel-heading .panel-title .delete-block {
    position: absolute;
    right: 0px;
    top: calc(50% - 8px);
}
.answer-row > *:first-child {
    width: calc(50% - 15px);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: #337ab7;
}

.text-editor .btn-toolbar{
    margin-bottom:5px;
}
.text-editor .ta-editor.ta-html,
.text-editor .ta-scroll-window.form-control,
.text-editor .ta-scroll-window > .ta-bind {
    min-height: 100px;
}

.padding {
    padding: 8px;
}