.navbar {
    border-radius: 0;
}
.sidebar-wrap {
    border-right: 1px solid #e7e7e7;
    left: 0;
    position: fixed;
    width: 200px;
    top: 52px;
    bottom: 0;
}
.sidebar-wrap ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebar-wrap ul li {
    border-bottom: 1px solid #e7e7e7;
}
.sidebar-wrap ul li a {
    padding:15px;
    color: #333;
    font-size: 18px;
    background: #f9f9f9;
    display:block;
}
.sidebar-wrap ul li a:hover {
    background: #efefef;
    color: #337ab7;
    text-decoration:none;
}
.sidebar-wrap ul li.active a {
    background: #337ab7;
    color: #efefef;
}
.page-content-wrap {
    width: calc(100% - 200px);
    margin-left: 200px;
}
.page-header {
    padding-bottom: 10px;
    margin: 10px 0 30px;
    border-bottom: 1px solid #e7e7e7;
}
.cursor-pointer{
    cursor: pointer;
}